.header__line{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.home--button{
    color:aliceblue;
    text-decoration: none;
    cursor: pointer;
}