.unit__show--button{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    width: 300px;
    margin: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.unit__show--button:hover{
    background-color: rgb(41, 41, 41);
}